[submodule "plugin-sorald"]
	path = plugin-sorald
	url = git@github.com:gustavopintozup/plugin-sorald.git
[submodule "plugin-cdd-java"]
	path = plugin-cdd-java
	url = git@github.com:gustavopintozup/plugin-cdd-java.git
[submodule "plugin-asniffer"]
	path = plugin-asniffer
	url = https://github.com/gustavopintozup/plugin-asniffer
[submodule "plugin-ck"]
	path = plugin-ck
	url = git@github.com:gustavopintozup/plugin-ck.git
[submodule "plugin-flacoco"]
	path = plugin-flacoco
	url = git@github.com:gustavopintozup/plugin-flacoco.git
