[submodule "plugin-sorald"]
	path = plugin-sorald
	url = git@github.com:gustavopintozup/plugin-sorald.git
[submodule "plugin-cdd-java"]
	path = plugin-cdd-java
	url = git@github.com:gustavopintozup/plugin-cdd-java.git
